<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>耶和华恩典</title>
    <meta name="description" content="姐妹弟兄：让我们一起聆听真诚的祷告，诵读圣经和歌唱优美的赞美歌">
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 375*100 + 'px';
    </script>
    <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
    
    <script crossorigin src="http://huananimg.zanmeizhuen.com/jidujiao/code/react.production.min.js"></script>
    <script crossorigin src="http://huananimg.zanmeizhuen.com/jidujiao/code/react-dom.production.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?bf37413c1cee8e4c820b8fe3c54ac4ec";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <img style="display: none" src="http://huananimg.zanmeizhuen.com//jidu/gzh/%E5%9C%A3%E7%BB%8F%E4%B9%A6.jpg">
    <div id="root"></div>
</body>
</html>